*.html linguist-vendored

app/*.css linguist-vendored
app/*/*.css linguist-vendored
app/*/*/*.css linguist-vendored
app/*/*/*/*.css linguist-vendored

app/*.html linguist-vendored
app/*/*.html linguist-vendored
app/*/*/*.html linguist-vendored
app/*/*/*/*.html linguist-vendored