.main__image {
    width: 18.75rem;
    height: 18.75rem;
    flex-shrink: 0;
}

.image__container {
    margin-left: 8.63rem;
    margin-top: 4.88rem;
    margin-bottom: 15.81rem;
    margin-right: 6rem;
}

.master__name {
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    background-image: linear-gradient(90deg, #f7f7f7, #ff2802);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.master__artist {
    color: #FFF;
    font-size: 1rem;
    margin-left: 2px;
    margin-bottom: 1rem;
}

.card__holder {
    width: 100%;
    height: 370px;
    overflow-x: hidden;
    margin-bottom: 2rem;
    cursor: pointer;
    scrollbar-color: #000;
    scrollbar-track-color: #000;
    scrollbar-face-color: #000;
}




.card__holder::-webkit-scrollbar {
    width: 10px;

    /* width of the entire scrollbar */
}

.card__holder::-webkit-scrollbar-track {
    /* background: rgb(236, 174, 112); */
    background-color: rgb(0, 0, 0);

    /* color of the tracking area */
}

.card__holder::-webkit-scrollbar-thumb {
    background: rgb(236, 174, 112);

    /* color of the scroll thumb */
    /* roundness of the scroll thumb */
        border: 3px solid rgb(0, 0, 0);
    /* creates padding around scroll thumb */
}


.media-player {
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(90deg, #f7f7f7, #f89280);

  }
  
  #seeker-bar {
    width: 100%;
    height: 8px;
    cursor: pointer;
  }
  
  .media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28%;
    width: 100vw;
  }
  .media img {
    margin: 1rem;
  }
  .false{
    width: 10%;
  }
  .media-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
  }
  .randomize {
    width: 1rem;
    height: 1rem;
  }
  .previous {
    width: 1.1rem;
    height: 1.1rem;
  }
  .play-pause {
    width: 1.8rem;
    height: 1.8rem;
  }
  .next {
    width: 1.1rem;
    height: 1.1rem;
  }
  .repeat {
    width: 1rem;
    height: 1rem;
  }
  .volume {
    background-color:inherit;
    display: flex;
    align-items: center;
    margin-right: 5%;
    width: 10%;
  }
  .volume>img {
    width: 1rem;
    height: 1rem;
    margin: 1rem 0.5rem;
  }
  #volume-seeker{
    width: 95%;
  }

  @media screen and (max-width: 740px) {
    #stream-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .line{
      display: none;
    }
    #stream-left{
      height: 72vh;
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .master__name{
      font-size: 2rem;
    }
    #stream-right{
      padding-bottom: 20%;
      width: 80%;
    }
    .media-buttons{
      width: 10%;
    }
    .false{
      display: none;
    }
    .volume{
      display: none;
    }
    .media{
      justify-content: center;
    }
  }