.main__box {
    margin-left: 20px;
}

.greet{
    font-size: 6rem;
    font-weight: 500;
    background-image: linear-gradient(30deg, #f7f7f7, #c402ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.userName {
    font-size: 4rem;
    font-weight: 500;
}