#card-dashboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 1rem 0;
}
#card-dashboard span{
    display: flex;
    justify-content: center;
    width: 12%;
}
