.main__container {
width: 35.375rem;
height: 3.625rem;
flex-shrink: 0;
display: flex;
margin-bottom: 1rem;
overflow-y: hidden;
}

.main__container > h1,h2,h3,h4,h5,h6,p {
    color: white;
    font-family: "Poppins";
    text-align: center;
    margin: auto;
}

.main__container >img {
width: 3.75rem;
height: 3.75rem;
flex-shrink: 0;
margin-right: 4rem;
}